*{
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

header h1 {
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
}

#container {
    height: 800px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnContainer {
    min-width: 700px;
    max-width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    border-radius: 10px;
    background-color: lightgray;
    padding: 30px;
    border-style: solid;
}

#btnContainer button {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

#calcTextDiv {
    grid-column-start: 1;
    grid-column-end: 5;
}

.clearBtn{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: tomato;
}

.clearBtn:hover{
    background-color: rgb(247, 123, 101);
}

.clearBtn:active{
    background-color: rgb(252, 58, 24);
}

#btnBackspace{
    background-color: gray;
}

#btnBackspace:hover{
    background-color: rgb(173, 172, 172);
}

#btnBackspace:active{
    background-color: rgb(68, 68, 68);
}

#btnEquals{
    background-color:dodgerblue;
    grid-column-start: 3;
    grid-column-end: 5;
}

#btnEquals:hover{
    background-color:rgb(72, 162, 252);
}

#btnEquals:active{
    background-color:rgb(3, 101, 199);
}

#calcTextDiv {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    vertical-align: text-bottom;
}

#calcTextDiv h2 {
    height: 20px;
    font-size: 60px;
    text-align: end;
    padding-right: 5%;
    vertical-align:text-bottom;
}